.box{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 5px;
    
}

.btn{
    margin: 30%;
}
.r{
    background-color: red;
}

.b{
    background-color: blue;
}

.y{
    background-color: yellow;
}

.g{
    background-color: green;
    
}